
body{
    background-image: linear-gradient(to right, #0f2027, #12252c, #152931, #192e37, #1c333c, #1e3741, #213c46, #23404b, #254551, #274957, #2a4e5e, #2c5364);
}
.fondoNav{
    background-image: linear-gradient(to bottom, #0f2027, #12252c, #152931, #192e37, #1c333c, #1e3741, #213c46, #23404b, #254551, #274957, #2a4e5e, #2c5364);
    -webkit-box-shadow: -7px 52px 60px -20px rgba(44,83,100,1);
    -moz-box-shadow: -7px 52px 60px -20px rgba(44,83,100,1);
    box-shadow: -7px 52px 60px -20px rgba(44,83,100,1);
}



.imgLogo{
    margin: 0;
}
.enlaceNav{
    font-size: 2rem;
    color: white;
    text-decoration: none;
    margin: 1.2rem;
}
.enlaceNav:hover{
    color:#605B97;
}

.tamañoBuscador{
    font-size: 5rem;
}

.tabla{
    background-image: linear-gradient(to right, #0f0c29, #131433, #19193e, #1f1e49, #262454, #242b5b, #223162, #203868, #184069, #184768, #204d66, #2c5364);
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 83px 24px rgba(48,43,99,1);
    -moz-box-shadow: 0px 0px 83px 24px rgba(48,43,99,1);
    box-shadow: 0px 0px 83px 24px rgba(48,43,99,1);

   
}
.letrasTabla{
    color: white;
    font-size: 30px;

}

.imgTbody{
    color: white;
}

.paginacion{
   display: flex;
   justify-content: center;
}